.bg-blue { background-color: #263e55 !important; }

.bg-darkblue { background-color: #172533 !important; }

.bg-green { background-color: #bbe441 !important; }

.bg-white { background-color: #f6fbe9 !important; }

.color-blue { color: #263e55 !important; }

.color-darkblue { color: #172533 !important; }

.color-green { color: #bbe441 !important; }

.color-white { color: #f6fbe9 !important; }
